/****************/
/**  main css  **/
/**  password  **/
/**  generator  */
/** Steve Barry */
/****************/

body{
    background-color: lightgrey;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0 10%;
    text-align: center;
}
.ulCheck{
    display: none;
}
#alpha:checked ~ .ulCheck{
    display: inline-block;
}

#length{
    width:10%;
    min-width: 55px;
    text-align:center;
    margin-bottom: 25px;
    margin-top: 5px;
}
/*below webkits taken from w3schools: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
#length::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*****/

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
li{
    margin: 0;
    padding: 0;
}
.checkArea{
    width: 10%;
    min-width: 90px;
    text-align: left;
    margin: 0 auto;
}
#result{
    background-color: white;
    /* width:80%; */
    min-width: 255px;
    max-width: fit-content;
    min-height: 50px;
    max-height: fit-content;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid grey;
    line-height: 200%;
    word-wrap: break-word;
    border-radius: 20px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
#hist{
    line-height: 120%;
}
#last{
    font-size: 125%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    width:80%;
    min-width: 240px;
    display: inline-block;
    height: 50%;
}
p{
    margin: 0;
}
#button{
    background-color: darkred;
    margin-top: 70px;
    color: white;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    font-size: 130%;
    box-shadow: none;
    border: none;
}
h2, h3{
    font-size: 75%;
}
form{
    padding: 15px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    min-width: 255px;
    max-width: 650px;
    margin: 0 auto;
}
.directions{
    width: fit-content;
    font-size: 75%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}